body {
  font-family: "Roboto Mono", serif;
  display: block;
  max-width: 600px;
  margin: 55px auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  background-color:white;
}

form {
  display: block;
  margin-top: 30px;
  padding-bottom: 40px;
  margin-left: 40px;
}
input[type="search"] {
  padding: 15px 20px;
  border-radius: 6px;
  width: 400px;
  background-color: rgb(235, 229, 240);
  border: none;
  display: inline-block;
}

input[type="submit"] {
  background: #885df1;
  border: none;
  font-size: 16px;
  font-weight: 700;
  height: 45px;
  padding: 14px 20px;
  color: white;
  width: 100px;
  border-radius: 6px;
}
div h1 {
  font-weight: 700px;
  font-size: 30px;
  display: block;
  margin-left: 40px;
}


.current-weather p:first-of-type {
  color: rgba(39, 33, 66, 0.4);
  display: block;
  margin-left: 40px;
  font-size: 16px;
}
p strong {
  color: red;
}

.current-weather div:last-of-type {
  position: relative;
  font-size: 45px;
  left: 380px;
  top: -120px;
  font-weight: bold;
  margin-left: 40px;
}
footer {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  display: block;
  padding-top: 15px;
  margin: 33px;
}
